.landing-section-container{
  margin: 2rem auto;
  width: 95%;
}

.gallery{
    display: grid;
    /* grid-auto-columns: repeat(8, 1fr);
    grid-auto-rows: repeat(8, 5vw); */
    grid-gap: 2.5rem; 
}
  
.gallery__img {
  width: 100%;
  height: 100%;
  max-width: 100%;
  object-fit: cover;
  display: block; 
}

.load-more-container{
  width: 90%;
  margin: 5px auto;
}

.load-more-btn{
    border-radius: 2px;
    height: 4rem;
    background-color: #343434;
    color: white;
    font-size: 1rem;
    border: none;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.load-more-btn:hover{
  background-color: #5c5c5c;
  transition-delay: 100ms;
}



/* media */
@media only screen and (max-width: 600px) {
  .gallery{
      grid-gap: 1.0rem; 
  }
}