.logo-container {
    height: 150px;
    width: 150px;
    margin: 3rem auto;
}

.logo-container img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.btn-link{
    background-color: transparent;
    outline: none;
    border: none;
    text-decoration: none;
}

.tabBtn{
    cursor: pointer;
}

.tabBtn p{
    margin: 0;
    letter-spacing: 2px;
}

.active{
    background: #343436;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    color: white;
    border-radius: 2px;
}
.active p{
    color: white;
}
.inactive{
    width: fit-content;
    max-width: fit-content;
}

.inactive::after{
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #000;
    transition: width .5s;
}

.inactive:hover::after{
    width: 100%;
    transition: width .5s;
}

.connectOptions span{
    cursor: pointer;
    border-radius: 2px;
    margin: auto 1rem;
}

.connectOptions span img{
    width: 25px;
    transition: box-shadow 0.3s ease;
}

.connectOptions span img:hover{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.copyRight{
    position: fixed;
    bottom: 0;
}

.copyRight p{
    margin: 0;
    font-size: x-small;
    font-weight: 600;
}